
<h2>Ciao, Gimmy</h2>
<span>Sono il tuo report di prova</span>
<h4>@Model.Test</h4>


<table border="1">
    <thead>
        <tr>
            <th>File</th>
            <th>Step 1</th>
            <th>Step 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>File 1.docx</td>
            <td>100.90</td>
            <td>2000.89</td>
        </tr>
    </tbody>
</table>