<h4>@Model.WorkingDirectory</h4>

<table border="1">
    <thead>
        <tr>
            <th>File</th>
            @foreach (var calculationOperationResult in Model.FileOperationResultList[0].OperationsResultList)
            {
                <th>@calculationOperationResult.OperationDescription</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var fileOperationResult in Model.FileOperationResultList)
        {
            <tr>
                <td>@fileOperationResult.FilePath</td>
                @foreach (var calculationOperationResult in fileOperationResult.OperationsResultList)
                {
                   <td>@calculationOperationResult.CalulatedAmount</td>
                }
            </tr>
        }
      
    </tbody>
</table>